<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course List</title>
</head>
<body>
    <h1>Course List</h1>
    <ul>
        {% for course in courses %}
            <li>{{ course.name }}</li>
        {% endfor %}
    </ul>
    <h2>Add New Course</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Course Name">
        <input type="text" name="description" placeholder="Description">
        <button type="submit">Add Course</button>
    </form>

    <p><a href="{% url 'students' %}">Add Student</a></p>
    
</body>
</html>
