<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>
    <ul>
        {% for student in students %}
            <li>{{ student.name }}</li>
        {% endfor %}
    </ul>
    <h2>Add New Student</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Student Name">
        <input type="number" name="age" placeholder="Age">
        <input type="number" name="id" placeholder="id">
        <button type="submit">Add Student</button>
    </form>
    
    
    <p><a href="{% url 'courses' %}">Add Course</a></p>
</body>
</html>
